gradio
requests
pandas

langchain
langchain-community
langchain-core
langchain-openai
langchain-tavily
langgraph

openai
huggingface_hub

arxiv
pymupdf
wikipedia
youtube-transcript-api
yt-dlp

python-dotenv

opencv-python-headless
pillow
numpy